.dynamic-table {
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
}

.table-header {
  display: flex;
  background-color: #f0f0f0;
  padding: 10px;
}

.column {
  flex: 1;
  text-align: center;
  border-right: 1px solid #ccc;
}

.column:last-child {
  border-right: none;
}

.table-body {
  flex: 1;
  overflow-y: auto;
}

.row {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cell {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.cell:last-child {
  border-right: none;
}
